.item-popular-posts {
    &:nth-child(n):not(:last-child) {
        margin-bottom: 50px;
    }

    &__author, &__title {
        text-transform: uppercase;
    }
    &__upper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__img {
        width: 200px;
        margin-bottom: 20px;
        img {
            max-width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
    &__no-img {
        height: 0;
    }
    &__title, &__text {
        margin-bottom: 20px;
    }
}
.recall {
    display: inline-flex;
    align-items: center;
    &:nth-child(n):not(:last-child) {
        margin-right: 20px;
    }
    .icon {
        margin-right: 10px;
    }
}